/*
UNIVERSAL STYLES
*/

html {
    font-size: 8px;
    font-family: 'Open Sans', sans-serif;
    width: 100% !important;
}

.container, footer, header, .container-fluid { 
    width: 100% !important;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: monoton;
    font-size: 1rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    padding-bottom: 1.4rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

li {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4rem;
}

.image-container {
    padding-bottom: 1rem;
    opacity: 0.8;
    transition: opacity 0.5s;
    overflow: hidden;
}

.image-container:hover {
    opacity: 1;
}

.image-container img {
    width: 100%;
    transition: transform 0.5s;    
}

.image-container img:hover {
    width: 100%;
    transform: scale(1.3,1.3);    
}

.blue {
    color: #399bd1;
}

.btn {
    padding: 1.3rem 0;
    width: 11.4rem;
    margin-top: 2.8rem;
    background-color: #399bd1;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.btn:visited {
    background-color: #399bd1;
}

/*
HEADER
*/

.navbar .container-fluid {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 3rem !important;
    width: 100% !important;
}

ul.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
   
}

.navbar-brand img {
    height: 1.2rem !important;
}

.container-fluid:before, .container-fluid:after {
    content: normal;
}

.navbar-nav li:first-of-type a {
    color: #399bd1;
}

.nav-item a {
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(150, 150, 150);
}

/*
JUMBOTRON
*/
.carousel {
    height: 20rem;
    width: 100%;
}

.jumbotron {
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    height: 100%;
    font-size: 10px;
}

.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
    background-size: cover;
}

.jumbotron-beer {
    background-image: url(../images/jumbotron-beer.jpg);
    background-size: cover;
}

.jumbotron-flowers {
    background-image: url(../images/jumbotron-flowers.jpg);
    background-size: cover;
}

.jumbotron-duffel {
    background-image: url(../images/jumbotron-duffel.jpg);
    background-size: cover;
}

.jumbotron h1 {
    font-size: 20px;
    padding-top: 1rem;
    text-shadow:  -1px -1px 0 black, 1px -1px 2px black, -1px 1px 0 black, 1px 1px 0 black;
}

.jumbotron p {
    font-size: 1rem;
    width: 30rem;
    margin: 0 auto;
    text-shadow:  -1px -1px 0 black, 1px -1px 2px black, -1px 1px 0 black, 1px 1px 0 black;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

/*
FEATURED PROJECT

*/
.featured-project {
    padding: 0;
    margin-top: 0 !important;
}

.featured-project div {
    padding: 0 0.5rem;
}
/*
HAVING TROUBLE
*/

.having-trouble {
    background-color: #f3f3f3;
    padding: 2rem 0;
}

.having-trouble p {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
}

.having-trouble div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
MEDIA QUERY
*//*
@media (max-width: 767px) {
    .navbar-nav li {
        padding: 0.5rem;    
    }
    
    .jumbotron {
        position: relative;
        top: 6rem;
        background-position: 40%;
    }
    
    .jumbotron h1 {
    font-size: 5.7rem;
    }
    
    .jumbotron p, .having-trouble p {
    width: 85%;   
    }
    
    .featured-project {
        position: relative;
        top: 6rem;
    }
    
    .having-trouble {
        position: relative;
        top: 6rem;
    }
}*/